apiVersion: v1
kind: Service
metadata:
  name: {{ include "nethical-edge.fullname" . }}
  labels:
    {{- include "nethical-edge.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "nethical-edge.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: edge-governor
