apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nethical
spec:
  template:
    spec:
      containers:
        - name: nethical
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          env:
            - name: NETHICAL_ENVIRONMENT
              value: "staging"
            - name: NETHICAL_LOG_LEVEL
              value: "info"
