apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nethical
spec:
  template:
    spec:
      containers:
        - name: nethical
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          env:
            - name: NETHICAL_ENVIRONMENT
              value: "development"
            - name: NETHICAL_LOG_LEVEL
              value: "debug"
